<nav th:fragment="navbar"
     style="background: #A32D2D;"
     class="flex items-center justify-between px-6 h-14 shadow">

    <a th:href="@{/}" class="text-xl font-bold text-white tracking-wide">Agon</a>

    <div class="flex items-center gap-4">

        <a th:href="@{/race/create}"
           th:if="${session.player != null && session.player.admin == true}"
           class="bg-white text-red-700 text-sm font-medium px-4 py-1.5 rounded-md hover:bg-red-50 transition">
            + Criar corrida
        </a>

        <a th:unless="${session.player}"
           th:href="@{/login}"
           class="bg-white text-red-700 text-sm font-medium px-4 py-1.5 rounded-md hover:bg-red-50 transition">
            Entrar
        </a>

        <a th:if="${session.player}"
           th:href="@{/logout}"
           class="text-red-200 text-sm hover:text-white transition">
            Sair
        </a>

    </div>

</nav>